In [3]:
import pandas as pd
import numpy as np
import re
import nltk

In [4]:
df = pd.read_csv(r'C:\Users\akash\Desktop\IMDB\IMDB\IMDB\IMDB Dataset.csv', sep = ',')

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
df.shape

(50000, 2)

In [7]:
x = df['sentiment'].value_counts()

In [8]:
x.plot(kind = 'bar')

In [9]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [10]:
X = df['review']
y = df['sentiment']

In [11]:
a = ' S '
b = re.sub(r'\s+[a-zA-Z]\s+', ' ', a)
b

' '

In [12]:
def cleaned_review(reviews):
     #Removes all special characters
    cleaned_review = re.sub(r'\W', ' ', str(reviews))
    #Removes all single characters
    cleaned_review = re.sub(r'\s+[a-zA-Z]\s+', ' ', cleaned_review)
    #Removes single characters from the start
    cleaned_review = re.sub(r'^[a-zA-Z]\s+', ' ', cleaned_review)
    #Substituting multiple spaces with single space
    cleaned_review = re.sub(r'\s+', ' ', cleaned_review, flags = re.I)
    #Removing prefixed b
    cleaned_review = re.sub(r'\s+[<br/><br/>]\s+', " ", cleaned_review)
     #Converting to lowercase
    cleaned_review = cleaned_review.lower()
    X1 = cleaned_review
    return X1

In [13]:
df1 = df
df.columns

Index(['review', 'sentiment'], dtype='object')

In [14]:
df1['review'] = df['review'].apply(cleaned_review)

In [15]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\akash\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [16]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [17]:
sid = SentimentIntensityAnalyzer()

In [18]:
a = df1['review'][1]
a

' wonderful little production br br the filming technique is very unassuming very old time bbc fashion and gives comforting and sometimes discomforting sense of realism to the entire piece br br the actors are extremely well chosen michael sheen not only has got all the polari but he has all the voices down pat too you can truly see the seamless editing guided by the references to williams diary entries not only is it well worth the watching but it is terrificly written and performed piece masterful production about one of the great master of comedy and his life br br the realism really comes home with the little things the fantasy of the guard which rather than use the traditional dream techniques remains solid then disappears it plays on our knowledge and our senses particularly with the scenes concerning orton and halliwell and the sets particularly of their flat with halliwell murals decorating every surface are terribly well done '

In [19]:
sid.polarity_scores(a)

{'neg': 0.052, 'neu': 0.768, 'pos': 0.18, 'compound': 0.9693}

In [20]:
df1['scores'] = df1['review'].apply(lambda review: sid.polarity_scores(review))

In [21]:
df1.head(2)

,review,sentiment,scores
0,one of the other reviewers has mentioned that ...,positive,"{'neg': 0.198, 'neu': 0.749, 'pos': 0.053, 'co..."
1,wonderful little production br br the filming...,positive,"{'neg': 0.052, 'neu': 0.768, 'pos': 0.18, 'com..."

In [22]:
df1['compound'] = df1['scores'].apply(lambda d: d['compound'])

In [23]:
df1.head(5)

,review,sentiment,scores,compound
0,one of the other reviewers has mentioned that ...,positive,"{'neg': 0.198, 'neu': 0.749, 'pos': 0.053, 'co...",-0.9949
1,wonderful little production br br the filming...,positive,"{'neg': 0.052, 'neu': 0.768, 'pos': 0.18, 'com...",0.9693
2,thought this was wonderful way to spend time ...,positive,"{'neg': 0.103, 'neu': 0.657, 'pos': 0.239, 'co...",0.9813
3,basically there a family where little boy jake...,negative,"{'neg': 0.13, 'neu': 0.791, 'pos': 0.079, 'com...",-0.8858
4,petter mattei love in the time of money is vis...,positive,"{'neg': 0.051, 'neu': 0.797, 'pos': 0.152, 'co...",0.9766

In [24]:
df1['pred'] = df1['compound'].apply(lambda compound: 'positive' if compound >=0 else 'negative')

In [25]:
df1.head(5)

,review,sentiment,scores,compound,pred
0,one of the other reviewers has mentioned that ...,positive,"{'neg': 0.198, 'neu': 0.749, 'pos': 0.053, 'co...",-0.9949,negative
1,wonderful little production br br the filming...,positive,"{'neg': 0.052, 'neu': 0.768, 'pos': 0.18, 'com...",0.9693,positive
2,thought this was wonderful way to spend time ...,positive,"{'neg': 0.103, 'neu': 0.657, 'pos': 0.239, 'co...",0.9813,positive
3,basically there a family where little boy jake...,negative,"{'neg': 0.13, 'neu': 0.791, 'pos': 0.079, 'com...",-0.8858,negative
4,petter mattei love in the time of money is vis...,positive,"{'neg': 0.051, 'neu': 0.797, 'pos': 0.152, 'co...",0.9766,positive

In [26]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [27]:
accuracy_score(df['sentiment'], df['pred'])*100

69.258

In [28]:
print(classification_report(df['sentiment'], df['pred']))

              precision    recall  f1-score   support

    negative       0.79      0.53      0.63     25000
    positive       0.64      0.86      0.74     25000

   micro avg       0.69      0.69      0.69     50000
   macro avg       0.72      0.69      0.68     50000
weighted avg       0.72      0.69      0.68     50000